<div class="spare-parts-page__wrapper__card">
  <div class="spare-parts-page__wrapper__card-top">
<!--    <div class="card-name-spare__img">-->
<!--      <img src="img/spare_frame/01.png" alt="">-->
<!--    </div>-->
    <div class="card-name-spare__text">Название товара</div>
  </div>
  <div class="spare-parts-page__selected">Первый параметр</div>
<!--  <div class="spare-parts-page__wrapper__card-params">-->
<!--    <div>Параметр 1: Lorem</div>-->
<!--    <div>Параметр 2: Lorem</div>-->
<!--    <div>Параметр 3: Lorem</div>-->
<!--  </div>-->
</div>