<div class="spare-form">
  <div class="spare-form__item">
    <label for="inputName">Ваше имя</label>
    <input
      id="inputName"
      class="spare-form__input"
      placeholder="Введите ваше имя"
    />
  </div>
  <div class="spare-form__item">
    <label for="inputEmail">E-mail</label>
    <input
      id="inputEmail"
      class="spare-form__input"
      placeholder="Введите ваш e-mail"
    />
  </div>
  <div class="spare-form__item">
    <label for="inputPhone">Ваш телефон</label>
    <input
      id="inputPhone"
      class="spare-form__input"
      placeholder="Введите ваш телефон"
    />
  </div>
  <div class="spare-form__item">
    <label for="inputPhone">Наименование товара</label>
    <input
      id="inputProduct"
      class="spare-form__input"
      placeholder="Введите название товара"
    />
  </div>
  <button class="spare-form__send">Оставить заявку</button>
  <p class="spare-form__helper-text">
    Нажимая на кнопку, Вы принимаете Положение и Согласие на обработку
    персональных данных
  </p>
</div>
