@import "style.css";

.main-experience {
  position: relative;
  background-color: #3B4956;
  padding: 60px 0 60px 0;
}
.main-experience__numbers {
  white-space: nowrap;
}
.main-experience__plus {
  margin-top: 5px;
  font-size: 100px;
  line-height: 65px;
  opacity: 0.5;
}
.main-experience__inner {
  display: flex;
  align-items: center;
}
.main-experience__left {
  margin-right: 85px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.main-experience__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 65px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
.main-experience__sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.main-experience__text {
  line-height: 30px;
  max-width: 675px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.main-about {
  padding: 0 30px 20px 30px;
  display: flex;
}
.main-about img {
  margin-bottom: 125px;
}
.main-about__doc {
  margin-right: 87px;
  max-width: 436px;
  object-fit: contain;
}
.main-about__info {
  margin-bottom: 125px;
}
.main-about__title {
  font-style: normal;
  font-size: 38px;
  line-height: 56px;
  color: #1D1717;
  margin-bottom: 19px;
}
.main-about__name {
  font-size: 38px;
  line-height: 56px;
  color: #1D1717;
  margin-bottom: 36px;
}
.main-about__text {
  max-width: 624px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #1D1717;
}
.main-help {
  padding: 77px 0;
  display: flex;
  background-color: #3B4956;
}
.main-help__info {
  max-width: 693px;
  margin-right: 17px;
}
.main-help__title {
  font-size: 38px;
  line-height: 50px;
  margin-bottom: 40px;
}
.main-help__text {
  max-width: 470px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.main-help__link {
  cursor: pointer;
  transition: all 0.3s;
}
.main-help__link:hover {
  transform: scale(1.05);
}
.main-help__img {
  max-height: 280px;
  min-height: 280px;
  min-width: 360px;
  object-fit: contain;
}
.main-spare {
  width: 100%;
  background-color: #3B4956;
}
.main-spare__container {
  margin-bottom: 88px;
  margin-top: 100px;
  padding: 92px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.main-spare__img {
  margin-right: 154px;
  height: 374px;
  z-index: 10;
  object-fit: contain;
  max-width: 600px;
  max-height: 400px;
}
.main-spare__img img {
  min-height: 350px;
  object-fit: cover;
}
.main-spare__img_back {
  position: absolute;
  top: 30%;
  left: 0;
  margin-left: -100px;
  height: 283px;
  opacity: 0.5;
  object-fit: contain;
  max-width: 400px;
  max-height: 300px;
}
.main-spare__info {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.main-spare__title {
  font-size: 38px;
  line-height: 56px;
  margin-bottom: 37px;
}
.main-spare__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 47px;
}
.main-spare__button {
  transition: all 0.3s;
  width: 100%;
  background-color: #D82329;
  padding: 28px 22px 28px 22px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.main-spare__button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main-about-big {
  margin-bottom: 110px;
}
.main-about-big__item-link {
  text-align: center;
  text-decoration-line: underline;
  color: #D82329;
}
.main-about-big__info {
  display: flex;
}
.main-about-big__img {
  display: inline-block;
  z-index: 2;
  max-width: 90%;
  max-height: 374px;
  object-fit: cover;
}
.main-about-big__item:last-child a {
  padding-bottom: 25px;
  position: relative;
}
.main-about-big__item:last-child a::after {
  content: "";
  position: absolute;
  border: 1px solid #B3B3B3;
  width: 100%;
  left: 0;
  bottom: 0;
}
.main-about-big__items {
  margin-right: 57px;
}
.main-about-big__items:last-child {
  background-color: #99191E;
}
.main-about-big__item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #1D1717;
  margin-bottom: 28px;
  padding-top: 22px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main-about-big__item-description::before {
  content: "";
  position: absolute;
  border: 1px solid #B3B3B3;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
}
.main-about-big__mobile {
  display: none;
}
.main-about-big__item-text {
  margin-right: 57px;
  max-width: 488px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #1D1717;
}
.main-about-big__info {
  display: flex;
}
.main-about-big__title {
  font-size: 38px;
  line-height: 56px;
  color: #1D1717;
  margin-bottom: 67px;
}
.main-list__description {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.main-list__line {
  margin-top: 22px;
  margin-bottom: 22px;
}
.main-list__line_first {
  margin-bottom: 22px;
}
.main-list__line_bottom {
  margin-top: 22px;
}
.main-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #1D1717;
}
.main-list__arrow {
  margin-right: 68px;
}
.main-application {
  position: relative;
  z-index: 100;
  margin-bottom: 80px;
}
.main-application__title {
  font-size: 50px;
  line-height: 65px;
  color: #FFFFFF;
  max-width: 662px;
  margin-bottom: 1px;
}
.main-application__text {
  font-weight: 500;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 522px;
  margin-bottom: 80px;
}
.main-application__button {
  transition: all 0.3s;
  cursor: pointer;
  width: 371px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 27px 97px 27px 97px;
  background-color: #D82329;
  border-radius: 5px;
}
.main-application__button:hover {
  background-color: #b10b00;
}
.main-category {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main-category__button {
  display: none;
}
.main-category__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 30px;
  width: 100%;
}
.main-category__top h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  text-align: center;
  color: #1D1717;
}
.main-category__top a {
  border-radius: 5px;
  padding: 26px 32px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  border: 2px #C21C22 solid;
  color: #C21C22;
  cursor: pointer;
  transition: all 0.3s;
}
.main-category__top a:hover {
  color: #A00A00;
  background-color: #FFFFEF;
}
.main-category__card-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  width: 100%;
  z-index: 11;
  padding-bottom: 40px;
}
.main-category__card-list::-webkit-scrollbar {
  height: 5px;
  margin-right: 150px;
}
.main-category__card-list::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background-color: #D82329;
}
.main-category__card-list::-webkit-scrollbar-track {
  width: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  background-color: #D9D9D9;
}
.main-category__card {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #1D1717;
  width: 250px;
  min-width: 250px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
}
.main-category__card:hover:first-child {
  margin-left: 10px;
  transform: scale(1.05);
}
.main-category__card:hover {
  transform: scale(1.05);
}
.main-category__card img {
  object-fit: cover;
}
.main-category__card p {
  margin-top: 30px;
  color: black;
}
.main-category__card-helper {
  position: relative;
  display: flex;
  justify-content: end;
  width: 100%;
}
.main-category__card-helper__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-category__card-opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, white);
  z-index: -1;
}
.main__img {
  margin-bottom: 106px;
  background-image: url("img/content1/1.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.87);
  position: unset;
  width: 100%;
  height: 1152px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  top: 0;
  left: 0;
}

.card-list {
  margin-bottom: 109px;
  display: flex;
  justify-content: space-between;
}
.card-list__item {
  padding: 0 38px;
}

.item:hover {
  background-color: #99191E;
}

.item {
  transition: all 0.3s;
  cursor: pointer;
  background-color: #C21C22;
  width: 376px;
}
.item__up {
  display: flex;
  justify-content: space-between;
}
.item__logo {
  margin-top: 50px;
  margin-bottom: 15px;
}
.item__number {
  margin-top: 31px;
  background-color: #FFFFFF;
  padding: 0px 14px 0px 14px;
  color: #1D1717;
  font-size: 20px;
  line-height: 36px;
  width: 36px;
  height: 36px;
}
.item__title {
  font-size: 20px;
  line-height: 56px;
  margin-bottom: 5px;
}
.item__text {
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 90px;
}

.main__img__container1 {
  min-width: 1200px;
  margin: 0 auto;
}

.main-help__container2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1500px) {
  .main-about-big__info {
    flex-wrap: wrap;
  }
  .main-about-big__items {
    margin-bottom: 30px;
  }
  .main-about-big__img {
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .main-application {
    padding: 0 30px;
  }
  .main-experience {
    padding: 60px 30px;
  }
  .main-experience__title {
    font-size: 65px;
  }
  .main-experience__plus {
    font-size: 65px;
  }
  .main-experience__text {
    font-size: 16px;
  }
  .main-about {
    padding: 0 30px 20px 30px;
  }
  .main-help {
    padding: 34px 0;
  }
  .main-category__top {
    padding: 34px 30px 34px 0;
  }
  .main-spare {
    padding: 50px 30px;
  }
  .main-spare__img {
    margin-right: 50px;
  }
  .main-about-big {
    padding: 0 30px;
  }
  .main-about-big__info {
    margin: 0 auto;
  }
  .card-list {
    padding: 0 30px;
  }
  .item {
    width: 300px;
  }
  .item__text {
    margin-bottom: 50px;
  }
}
@media (max-width: 930px) {
  .page-padding__left {
    padding: 0;
  }
  .main-application {
    margin-bottom: 95px;
    padding: 0 5px;
  }
  .main-application__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 30px;
    max-width: 400px;
  }
  .main-application__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    max-width: 400px;
  }
  .main-application__button {
    padding: 27px 55px;
  }
  .main-experience {
    padding: 40px 5px;
  }
  .main-experience__title {
    font-size: 41px;
    line-height: 64px;
  }
  .main-experience__plus {
    font-size: 41px;
    line-height: 64px;
  }
  .main-experience__inner {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .main-experience__left {
    gap: 40px;
    flex-direction: row;
    margin-right: 0;
    align-items: center;
  }
  .main-experience__text {
    font-size: 16px;
    line-height: 26px;
  }
  .main-about {
    padding: 0 5px;
    display: flex;
    flex-direction: column-reverse;
  }
  .main-about__doc {
    display: block;
    margin: 0 auto;
  }
  .main-about__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 26px;
  }
  .main-about__name {
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
  }
  .main-about__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
  }
  .main-about__info {
    margin-bottom: 50px;
    text-align: center;
  }
  .main-about__name {
    margin-bottom: 26px;
  }
  .main-about img {
    margin-bottom: 80px;
  }
  .main-help {
    padding: 40px 5px;
  }
  .main-help__container2 {
    display: flex;
    flex-direction: column;
  }
  .main-help__title {
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
  }
  .main-help__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
  }
  .main-help__info {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .main-category {
    padding: 0 5px;
  }
  .main-category__top {
    justify-content: center;
  }
  .main-category__top a {
    display: none;
  }
  .main-category__top h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;
  }
  .main-category__button {
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    padding: 26px 32px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    border: 2px #C21C22 solid;
    color: #C21C22;
    cursor: pointer;
    transition: all 0.3s;
  }
  .main-category__button:hover {
    color: #A00A00;
    transform: scale(1.05);
  }
  .main-category__card p {
    display: flex;
    justify-content: center;
  }
  .main-category__card-helper {
    padding-left: 0;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-category__card-helper__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .main-spare {
    padding: 40px 10px;
  }
  .main-spare__container {
    display: block;
  }
  .main-spare__img {
    display: none;
  }
  .main-spare__img_back {
    display: none;
  }
  .main-spare__title {
    max-width: 300px;
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;
  }
  .main-spare__title br {
    display: none;
  }
  .main-spare__text {
    max-width: 321px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  .main-spare__text br {
    display: none;
  }
  .main-about-big {
    padding: 0 10px;
    margin-bottom: 45px;
    text-align: center;
  }
  .main-about-big__img {
    min-height: 240px;
    object-fit: cover;
    margin: 0 auto;
  }
  .main-about-big__list {
    display: none;
  }
  .main-about-big__list_mobile {
    display: block;
    margin-bottom: 30px;
  }
  .main-about-big__title {
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;
    margin-bottom: 40px;
    text-align: center;
  }
  .main-list__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  .main-list__description {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .main-list__line {
    margin-top: 11px;
    margin-bottom: 11px;
  }
  .main-list__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    text-underline-offset: 4px;
    text-decoration-line: underline;
    color: #D82329;
  }
  .card-list {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .item {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .main-about-big__item-description {
    cursor: default;
  }
  .main-about-big__info {
    padding: 0;
  }
  .main-about-big__img {
    object-position: left;
    padding: 0;
    margin: 30px auto 0;
    width: 100%;
  }
  .main-about-big__items {
    display: none;
  }
  .main-about-big__item {
    margin-bottom: 22px;
  }
  .main-about-big__item:last-child a {
    padding-bottom: 25px;
    position: relative;
  }
  .main-about-big__item:last-child a::after {
    content: "";
    position: absolute;
    border: 1px solid #ffffff;
    width: 700%;
    left: 0;
    bottom: 0;
  }
  .main-about-big__item-description {
    margin-bottom: 16px;
  }
  .main-about-big__mobile {
    display: block;
  }
  .main-about__title {
    font-size: 23px;
  }
  .main-category__card-helper {
    padding-left: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-help__img img {
    max-height: 200px;
    min-height: 200px;
    min-width: 280px;
  }
  .main-experience__left {
    gap: 8vw;
    flex-wrap: wrap;
  }
}
.product-catalog {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 38px;
  line-height: 65px;
  padding-bottom: 100px;
  cursor: pointer;
}
.product-catalog a {
  color: black;
}
.product-catalog__card-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 85px;
}
.product-catalog__img {
  object-fit: contain;
  width: 230px;
  height: 230px;
  margin: 0 auto;
}
.product-catalog__title {
  font-size: 16px;
  line-height: 30px;
  max-width: 240px;
}

@media (max-width: 950px) {
  .product-catalog__card-lists {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-catalog__top {
    text-align: center;
    margin-bottom: 95px;
  }
  .product-catalog-card__title {
    font-size: 25px;
  }
}
@media (max-width: 560px) {
  .product-catalog-card {
    max-width: 100%;
    align-items: center;
    margin-bottom: 30px;
  }
  .product-catalog {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-catalog__card-lists {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    padding: 0px 20px;
  }
}
.product-catalog-about {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 38px;
  line-height: 65px;
}
.product-catalog-about__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 35px;
}
.product-catalog-about__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}
.product-catalog-about__go-back {
  font-size: 18px;
  line-height: 65px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.product-catalog-about__go-back:hover {
  transform: scale(1.05);
}
.product-catalog-about__card-list-catalog {
  margin-bottom: 35px;
  display: flex;
}
.product-catalog-about__go-back-box {
  display: flex;
  color: #0E0E0E;
}
.product-catalog-about__arrow {
  margin-right: 30px;
  margin-top: 3px;
}
.product-catalog-about__button {
  color: #1D1717;
  text-decoration-line: underline;
}

.card {
  margin-right: 35px;
  max-width: 270px;
  padding: 31px 35px 38px;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px 10px rgba(210, 210, 210, 0.25);
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.05);
}
.card__img {
  margin-bottom: 36px;
  width: 200px;
  height: 120px;
  object-fit: cover;
}
.card__title {
  margin-bottom: 9px;
  font-size: 20px;
  line-height: 24px;
}
.card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  max-width: 200px;
  color: #000;
}
.card__link {
  text-decoration-line: underline;
  text-decoration-color: red;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #D82329;
}

.card-list-catalog {
  display: flex;
  margin-bottom: 35px;
}

@media (max-width: 950px) {
  .product-catalog-about__card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 660px) {
  .product-catalog-about__top {
    flex-direction: column;
    margin-bottom: 53px;
    align-items: center;
  }
  .product-catalog-about__go-back {
    display: none;
  }
}
@media (max-width: 520px) {
  .product-catalog-about__card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 360px) {
  .card-list-catalog-about {
    font-size: 32px;
    line-height: 65px;
  }
}
.spare-parts-page {
  color: rgb(0, 0, 0);
  margin-bottom: 120px;
}
.spare-parts-page__button {
  margin-right: 26px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.spare-parts-page__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 135px;
  gap: 25px;
}
.spare-parts-page__search {
  padding: 26px 70px 26px 70px;
  display: flex;
  background: #F2F2F2;
  width: 100%;
}
.spare-parts-page__input {
  width: 100%;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  outline: none;
  background: #F2F2F2;
}
.spare-parts-page__filter {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  padding: 26px;
  background-color: #D82329;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.spare-parts-page__filter svg {
  margin-right: 21px;
}
.spare-parts-page__filter:hover {
  transform: scale(1.01);
}
.spare-parts-page__wrapper {
  width: 100%;
}
.spare-parts-page__wrapper_mobile {
  display: none;
}
.spare-parts-page__wrapper table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}
.spare-parts-page__wrapper td {
  padding: 20px 0 20px 0;
  margin: 0;
  border-bottom: 1pt solid black;
}
.spare-parts-page__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.spare-parts-page__card-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.spare-parts-page__selected {
  background: #FFEAEA;
  border: 1px solid #D82329;
  padding: 10px 18px;
  width: max-content;
}
.spare-parts-page__category--active {
  padding: 5px 16px;
  border: 1px solid #D82329;
}
.spare-parts-page__line {
  border-bottom: 2px solid #1D1717;
  margin-bottom: 45px;
}

.spare-title-category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: space-between;
  font-size: 20px;
  line-height: 30px;
}
.card-name-spare {
  margin-left: 47px;
  align-items: center;
}
.card-name-spare__img {
  width: 60;
  height: 60;
  object-fit: contain;
  margin-right: 50px;
}
@media (max-width: 1088px) {
  .spare-parts-page__top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}
@media (max-width: 980px) {
  .spare-parts-page__wrapper {
    display: none;
  }
  .spare-parts-page__wrapper_mobile {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 34px;
    box-shadow: 10px 10px 20px 20px rgba(230, 230, 230, 0.25);
  }
  .spare-parts-page__wrapper__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .spare-parts-page__wrapper__card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .spare-parts-page__wrapper__card-params {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
@media (max-width: 639px) {
  .spare-parts-page__input {
    padding: 20px 10px;
  }
  .spare-parts-page__filter {
    padding: 20px 110px;
  }
}
.product-about-wrapper {
  color: black;
  padding-bottom: 40px;
}
.product-about-wrapper__name {
  display: flex;
  margin-bottom: 100px;
}
.product-about-wrapper__img {
  margin-right: 73px;
}
.product-about-wrapper__info {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.product-about-wrapper__title {
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 36px;
}
.product-about-wrapper__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 48px;
}
.product-about-wrapper__button {
  background-color: #D82329;
  padding: 20px 77px 20px 77px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5px;
  display: block;
  max-width: 329px;
  text-align: center;
}
.product-about-wrapper__images {
  gap: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 53px;
}
.product-about-wrapper__document {
  max-width: 100%;
  object-fit: contain;
  padding: 0 10px;
}

.product-about-image {
  object-fit: contain;
}

@media (max-width: 1200px) {
  .product-about-image {
    margin-bottom: 26px;
    padding: 0 20px;
  }
  .product-about-wrapper__name {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }
  .product-about-wrapper__img {
    margin-right: 0;
  }
  .product-about-wrapper__images {
    flex-direction: column;
    align-items: center;
  }
  .product-about-wrapper__info {
    margin-bottom: 30px;
    max-width: 100%;
    padding: 0px 50px;
    align-items: center;
  }
  .product-about-wrapper__title {
    font-size: 50px;
    max-width: 1140px;
  }
  .product-about-wrapper__text {
    font-size: 20px;
  }
}
@media (max-width: 7000px) {
  .product-about-wrapper__title {
    font-size: 40px;
  }
  .product-about-wrapper__name {
    display: flex;
    margin-bottom: 40px;
  }
  .product-about-wrapper__button {
    margin-bottom: 30px;
  }
}
@media (max-width: 360px) {
  .product-about-wrapper__title {
    font-size: 23px;
  }
  .product-about-wrapper__button {
    padding: 20px 70px;
  }
}
.news-application {
  position: relative;
  z-index: 100;
}
.news-application__title {
  font-size: 50px;
  line-height: 65px;
  color: #FFFFFF;
  margin-bottom: 1px;
}
.news-application__text {
  font-weight: 500;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 522px;
  margin-bottom: 40px;
}
.news-application__button {
  transition: all 0.3s;
  cursor: pointer;
  width: 371px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 27px 97px 27px 97px;
  background-color: #D82329;
  border-radius: 5px;
}
.news-application__button:hover {
  background-color: #b10b00;
}
.news__img-block {
  margin-bottom: 106px;
  background-image: url("img/content1/1.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.87);
  position: unset;
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  top: 0;
  left: 0;
}

.news-info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 80px;
}
.news-info__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.news-info__top h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  color: #0E0E0E;
}
.news-info__top p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0E0E0E;
}
.news-info__top_back {
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.news-info__top_back:hover {
  transform: scale(1.05);
}
.news-info__content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.news-info__content img {
  object-fit: cover;
}
.news-info__content p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0E0E0E;
}

@media (max-width: 930px) {
  .news__img-block {
    margin-bottom: 40px;
  }
  .news-application {
    position: relative;
    z-index: 100;
  }
  .news-application__title {
    font-size: 23px;
    color: #FFFFFF;
    margin-bottom: 1px;
  }
  .news-info {
    margin-bottom: 40px;
  }
  .news-info__top {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    gap: 20px;
  }
  .news-info__top h2 {
    font-size: 26px;
  }
  .news-info__content {
    display: flex;
    gap: 30px;
  }
}
/*----------------------------------------*/
.splitter {
  width: 100%;
  opacity: 0.4;
  border: 1px solid #202122;
}
.splitter__white {
  opacity: 0.4;
  border: 1px solid #FFFFFF;
}

.header {
  z-index: 10;
  padding-top: 55px;
  width: 100%;
}
.header.main.header {
  margin-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.header.base.header {
  margin-top: 50px;
  position: unset;
  top: 0;
  left: 0;
}
.header__mobile {
  display: none;
}
.header__square .header__inner {
  display: flex;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 37px;
}
.header__menu-logo {
  font-size: 30px;
  line-height: 37px;
  margin-right: 54px;
  cursor: pointer;
  transition: all 0.3s;
}
.header__menu-logo:hover {
  transform: scale(1.05);
}
.header__menu-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 75px;
  max-width: 250px;
  cursor: pointer;
  transition: all 0.3s;
}
.header__menu-text:hover {
  transform: scale(1.05);
}
.header__menu-mail {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 24px;
  margin-right: 80px;
  cursor: pointer;
  transition: all 0.3s;
}
.header__menu-mail svg {
  margin-right: 20px;
}
.header__menu-mail:hover {
  transform: scale(1.05);
}
.header__menu-phone {
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.header__menu-phone:hover {
  transform: scale(1.05);
}
.header__menu-phone svg {
  margin-right: 20px;
  min-height: 42px;
}
.header__menu-phone img {
  height: 42px;
  margin-right: 19px;
}
.header__sub-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  gap: 20px;
}
.header__sub-menu-item {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  position: relative;
  margin-bottom: 2px;
}
.header__sub-menu-item:hover {
  transform: scale(1.05);
}
.header__sub-menu-item--square {
  position: relative;
}
.header__sub-menu-item--square::before {
  content: "";
  position: absolute;
  background-image: url(../img/header/03.png);
  height: 7px;
  width: 7px;
  bottom: 12px;
}
.header__sub-menu-item--square a {
  margin-left: 17px;
}
.header-black {
  z-index: 10;
  margin-top: 55px;
  margin-bottom: 80px;
  width: 100%;
}
.header-black__mobile {
  display: none;
}
.header-black__square .header-black__inner {
  display: flex;
}
.header-black__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 37px;
}
.header-black__email {
  color: black;
}
.header-black__phone {
  color: black;
}
.header-black__menu-logo {
  font-size: 30px;
  line-height: 37px;
  margin-right: 54px;
  cursor: pointer;
  transition: all 0.3s;
}
.header-black__menu-logo:hover {
  transform: scale(1.05);
}
.header-black__menu-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 75px;
  max-width: 250px;
  cursor: pointer;
  transition: all 0.3s;
}
.header-black__menu-text:hover {
  transform: scale(1.05);
}
.header-black__menu-mail {
  color: #000;
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 24px;
  margin-right: 80px;
  cursor: pointer;
  transition: all 0.3s;
}
.header-black__menu-mail svg {
  margin-right: 20px;
}
.header-black__menu-mail:hover {
  transform: scale(1.05);
}
.header-black__menu-phone {
  color: #000;
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.header-black__menu-phone:hover {
  transform: scale(1.05);
}
.header-black__menu-phone svg {
  margin-right: 20px;
  min-height: 42px;
}
.header-black__menu-phone img {
  height: 42px;
  margin-right: 19px;
}
.header-black__menu-phone a {
  color: #000;
}
.header-black__sub-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  gap: 20px;
}
.header-black__sub-menu-item {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.header-black__sub-menu-item:hover {
  transform: scale(1.05);
}
.header-black__sub-menu-item a {
  color: black;
}
.header-black__sub-menu-item-square {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.3s;
}
.header-black__sub-menu-item-square:hover {
  transform: scale(1.05);
}
.header-black__sub-menu-item-square a {
  color: black;
}
.header-black__link a {
  color: #000 !important;
}
.sub-menu-item-square__title {
  display: flex;
  align-items: center;
  line-height: 30px;
}
.sub-menu-item-square__title img {
  margin-right: 17px;
}

/*----------------------------------------*/
.footer {
  color: #1D1717;
}
.footer a {
  color: #1D1717;
}
.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer__menu-logo {
  font-size: 30px;
  line-height: 37px;
  margin-right: 81px;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__menu-logo:hover {
  transform: scale(1.05);
}
.footer__menu-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 90px;
  max-width: 250px;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__menu-text:hover {
  transform: scale(1.05);
}
.footer__menu-mail {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 80px;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__menu-mail img {
  height: 42px;
  margin-right: 19px;
}
.footer__menu-mail:hover {
  transform: scale(1.05);
}
.footer__menu-phone {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__menu-phone img {
  height: 42px;
  margin-right: 19px;
}
.footer__menu-phone:hover {
  transform: scale(1.05);
}
.footer__sub-menu {
  padding-bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 50px;
  font-size: 16px;
}
.footer__sub-menu-item {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.footer__sub-menu-item:hover {
  transform: scale(1.05);
}
.footer__sub-menu-item--square {
  position: relative;
}
.footer__sub-menu-item--square::before {
  content: "";
  position: absolute;
  background-image: url(../img/header/03.png);
  height: 7px;
  width: 7px;
  bottom: 12px;
}
.footer__sub-menu-item--square a {
  margin-left: 17px;
}
/*----------------------------------------*/
.page-padding {
  padding: 0 440px;
}
.page-padding__left {
  padding: 0 0 0 440px;
}

.modal {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.modal__back {
  transition: all 0.5s ease-in-out;
}
.modal__info {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  right: -2000px;
  padding: 35px 30% 35px 40px;
  background-color: #3B4956;
  opacity: 1;
  width: 70%;
  min-height: 600px;
  z-index: 1001;
}
.modal.open .modal__back {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.modal.open .modal__info {
  right: 0;
}

.popup {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.popup__helper-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  cursor: default;
  color: #000000;
}
.popup__send {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: #D82329;
  border-radius: 5px;
  cursor: pointer;
  padding: 27px;
}
.popup__input {
  padding: 20px 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #343434;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}
.popup__input:focus {
  border: 1px solid rgba(52, 52, 52, 0.5);
}
.popup__items {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.popup__items label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #0B2432;
}
.popup__item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.popup__cross {
  width: 50px;
  height: 50px;
  background: #E43232;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  margin-top: -20px;
  margin-right: -20px;
  right: 0;
  top: 0;
}
.popup__back {
  transition: all 0.5s ease-in-out;
}
.popup__base {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 50px;
  left: calc(50% - 259px);
  padding: 50px;
  background-color: white;
  box-shadow: 0 0 50px rgba(21, 60, 83, 0.2);
  opacity: 0;
  width: 70%;
  height: max-content;
  max-width: 518px;
  max-height: 687px;
  z-index: 1001;
}
.popup.open .popup__back {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.popup.open .popup__base {
  opacity: 1;
}

@media (max-width: 1950px) {
  .page-padding {
    padding: 0 250px;
  }
  .page-padding__left {
    padding: 0 0 0 250px;
  }
  .page-padding__right {
    padding-right: 250px;
  }
}
@media (max-width: 1800px) {
  .page-padding {
    padding: 0 200px;
  }
  .page-padding__left {
    padding: 0 0 0 200px;
  }
  .page-padding__right {
    padding-right: 200px;
  }
}
@media (max-width: 1600px) {
  .header__sub-menu {
    gap: 50px;
  }
  .footer__sub-menu {
    gap: 50px;
  }
  .page-padding {
    padding: 0 120px;
  }
  .page-padding__left {
    padding: 0 0 0 120px;
  }
  .page-padding__right {
    padding-right: 120px;
  }
}
@media (max-width: 1400px) {
  .header__sub-menu {
    gap: 30px;
  }
  .footer__sub-menu {
    gap: 30px;
  }
  .page-padding {
    padding: 0 75px;
  }
  .page-padding__left {
    padding: 0 0 0 75px;
  }
  .page-padding__right {
    padding-right: 75px;
  }
}
@media (max-width: 1200px) {
  .header__sub-menu {
    gap: 20px;
  }
  .footer__sub-menu {
    gap: 20px;
  }
  .header__menu-logo {
    margin-right: 30px;
  }
  .header__menu-text {
    margin-right: 0;
  }
  .header__menu-mail {
    margin-right: 30px;
  }
  .footer__menu-logo {
    margin-right: 30px;
  }
  .footer__menu-text {
    margin-right: 0;
  }
  .footer__menu-mail {
    margin-right: 30px;
  }
}
@media (max-width: 930px) {
  .page-padding {
    padding: 0 30px;
  }
  .page-padding__left {
    padding: 0 0 0 30px;
  }
  .page-padding__right {
    padding-right: 30px;
  }
  .footer__sub-menu {
    gap: 15px;
  }
  .footer__sub-menu-item {
    width: max-content;
  }
  .footer__sub-menu-item-square {
    width: max-content;
  }
  .header__sub-menu, .header-black__sub-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .header__inner, .header-black__inner {
    display: none;
  }
  .header__mobile, .header-black__mobile {
    display: flex;
    width: 100%;
    gap: 4vw;
    justify-content: space-between;
  }
  .header__menu-logo, .header-black__menu-logo {
    max-width: 75vw;
  }
  .header__left, .header-black__left {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .header__menu-logo, .header__menu-mail, .header-black__menu-logo, .header-black__menu-mail {
    margin-right: 0;
  }
  .header__right svg, .header-black__right svg {
    transition: all 0.3s;
  }
  .header__right svg:hover, .header-black__right svg:hover {
    transform: scale(1.2);
  }
  .footer__inner {
    padding: 0 15px;
  }
  .footer__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
  }
  .footer__line {
    height: 10px;
    width: 80px;
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .footer__sub-menu {
    flex-wrap: wrap;
  }
  .footer__sub-menu-item-square .sub-menu-item-square__title img {
    display: none;
  }
}
@media (max-width: 630px) {
  .page-padding {
    padding: 0 15px;
  }
  .page-padding__left {
    padding: 0 0 0 15px;
  }
  .page-padding__right {
    padding-right: 15px;
  }
  .modal__info {
    padding: 35px 10% 35px 40px;
  }
  .main-about__doc {
    display: contents;
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  .popup__base {
    padding: 50px 30px;
    width: 95%;
    left: 2.5%;
  }
  .popup__input {
    font-size: 14px;
  }
  .popup__send {
    padding: 20px;
    font-size: 16px;
  }
  .popup__helper-text {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .modal__info {
    padding: 35px 20px 35px 30px;
  }
  .page-padding {
    padding: 0 5px;
  }
  .page-padding__left {
    padding: 0 0 0 5px;
  }
  .page-padding__right {
    padding-right: 5px;
  }
}