<section id="news" class="main-about_more page-padding">
  <div class="main-about_more__title">Больше о компании</div>
  <div class="main-about_more__items">
    <div class="main-about_more__item">
      <img
        class="main-about_more__item-image"
        src="../../img/big_about/first.png"
        alt=""
      />
      <div class="main-about_more__item-title">Заголовок</div>
      <div class="main-about_more__item-desc">
        Lorem Ipsum has been the industry's standard text ever since the 1500s,
      </div>
    </div>
    <div class="main-about_more__item">
      <img
        class="main-about_more__item-image"
        src="../../img/big_about/second.png"
        alt=""
      />
      <div class="main-about_more__item-title">Заголовок</div>
      <div class="main-about_more__item-desc">
        Lorem Ipsum has been the industry's standard text ever since the 1500s,
      </div>
    </div>
    <div class="main-about_more__item">
      <img
        class="main-about_more__item-image"
        src="../../img/big_about/third.png"
        alt=""
      />
      <div class="main-about_more__item-title">Заголовок</div>
      <div class="main-about_more__item-desc">
        Lorem Ipsum has been the industry's standard text ever since the 1500s,
      </div>
    </div>
    <div class="main-about_more__item">
      <img
        class="main-about_more__item-image"
        src="../../img/big_about/fouth.png"
        alt=""
      />
      <div class="main-about_more__item-title">Заголовок</div>
      <div class="main-about_more__item-desc">
        Lorem Ipsum has been the industry's standard text ever since the 1500s,
      </div>
    </div>
  </div>
</section>
