<section class="main-help">
    <div class="main-help__container2 page-padding">
        <div class="main-help__info">
            <div class="main-help__title">Помощь заказчикам
                в реализации строительных
                задач разных уровней сложности
            </div>
            <div class="main-help__text">В том числе, связанных с грунтовой инъекцией, цементацией, струйной цементацией
                Jet grouting, устройством грунтовых анкеров, свай, противофильтрационных завес, пригрузов, закрепления
                сводов тоннелей, укрепление фундаментов и т.д. с использованием высококачественного инновационного
                оборудования.
            </div>
        </div>
        <a href="" class="main-help__link">
            <img class="main-help__img" src="img/help/01.png" alt="">
        </a>
    </div>

</section>