<div class="main__img">
  <section class="main-application page-padding">
    <div class="main-application__title">
      TOO «‎TechnoDrill» - ОФИЦИАЛЬНЫЙ ДИЛЛЕР TECNIWELL В КАЗАХСТАНЕ И СТРАНАХ
      СНГ
    </div>
    <div class="main-application__text">
      Tecniwell - мировой лидер в разработке и производстве оборудования для
      струйной цементации, цементации и смесительных установок
    </div>
    <div class="main-application__button-wrapper">
      <a class="main-application__button popup__button">Оставить заявку</a>
    </div>
  </section>
</div>
